@model IEnumerable<Cinemas.Models.Role>

@{
    ViewData["Title"] = "Roles Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" asp class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" href="#">Quản lý hệ thống</a>
            <span class="breadcrumb-item active">Quản lý quyền truy cập</span>
        </nav>
    </div>
</div>

<div class="row align-items-md-center">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="text-md-right m-v-10">
            <div class="btn-group m-r-10">
            </div>
            <a class="btn btn-primary" asp-area="Admin" asp-controller="Roles" asp-action="Create">
                <i class="anticon anticon-plus"></i>
                <span class="m-l-5">Tạo mới quyền truy cập</span>
            </a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tên quyền truy cập</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@Html.DisplayFor(modelItem => item.RoleId)</th>
                            <td>@Html.DisplayFor(modelItem => item.RoleName)</td>

                            <td>
                                <a asp-area="Admin" asp-controller="Roles" asp-action="Edit" asp-route-id="@item.RoleId" class="btn btn-success btn-tone m-r-5">Sửa</a>
                                <a asp-area="Admin" asp-controller="Roles" asp-action="Delete" asp-route-id="@item.RoleId" class="btn btn-danger btn-tone m-r-5">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
