@model Cinemas.Models.HoaDon

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>HoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdhoaDon" />
            <div class="form-group">
                <label asp-for="Idkh" class="control-label"></label>
                <select asp-for="Idkh" class="form-control" asp-items="ViewBag.Idkh"></select>
                <span asp-validation-for="Idkh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdlichChieu" class="control-label"></label>
                <select asp-for="IdlichChieu" class="form-control" asp-items="ViewBag.IdlichChieu"></select>
                <span asp-validation-for="IdlichChieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayMuaVe" class="control-label"></label>
                <input asp-for="NgayMuaVe" class="form-control" />
                <span asp-validation-for="NgayMuaVe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongGhe" class="control-label"></label>
                <input asp-for="SoLuongGhe" class="form-control" />
                <span asp-validation-for="SoLuongGhe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenGhe" class="control-label"></label>
                <input asp-for="TenGhe" class="form-control" />
                <span asp-validation-for="TenGhe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

