
@{
    ViewData["Title"] = "Thông tin rạp chiếu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/assetsLayout/styles/phong.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assetsLayout/styles/Trangchu.css" asp-append-version="true" />
}

<div class="grid">
    <div id="body">
        <div class="panel">
            <div class="panel_feelings">
                <h2 class="heading">
                    Beta Thái Nguyên
                </h2>
                <div class="panel_feelings--icon">
                    <a class="icon"><i class="fa-solid fa-thumbs-up"></i>Like</a>
                    <a class="icon"><i class="fa-solid fa-share"></i>share</a>
                    <span>4 people like this.</span><a href="" style="color: blue;">Sign Up </a><span> to see what your friends like.</span>
                </div>
            </div>
            <div class="panel_content">
                <div style="
                        display: flex;
                        justify-content: center;
                    ">
                    <img class="panel_content--image" src="~/images/35359362-242694916502971-7052850785574453248-n-103924-040718-45.png" alt="">
                </div>
                <div class="panel_content--title">
                    <p class="panel_text">
                        Beta Cinemas Thái Nguyên có vị trí trung tâm, tọa lạc tại Hoàng Gia Plaza. Rạp tự hào là
                        rạp phim tư nhân duy nhất và đầu tiên sở hữu hệ thống phòng chiếu phim đạt chuẩn Hollywood tại TP. Thái Nguyên.
                    </p>
                    <p class="panel_text">
                        Rạp được trang bị hệ thống máy chiếu, phòng chiếu hiện đại với 100% nhập khẩu từ nước ngoài, với 4 phòng chiếu
                        tương được 535 ghế ngồi. Hệ thống âm thanh Dolby 7.1 và hệ thống cách âm chuẩn quốc tế đảm bảo chất lượng âm thanh
                        sống động nhất cho từng thước phim bom tấn.
                    </p>
                    <p class="panel_text">
                        Mức giá xem phim tại Beta Cinemas Thái Nguyên rất cạnh tranh: giá vé 2D chỉ từ 40.000 VNĐ và giá vé 3D chỉ
                        từ 60.000 VNĐ. Không chỉ có vậy, rạp còn có nhiều chương trình khuyến mại, ưu đãi hàng tuần như đồng giá vé 40.000
                        vào các ngày Thứ 3 vui vẻ, Thứ 4 Beta's Day, đồng giá vé cho Học sinh sinh viên, người cao tuổi, trẻ em.....
                    </p>
                </div>
                <div class="panel_address">
                    <p>Thông tin liên hệ</p>
                    <p>Rạp Beta Cinemas Thái Nguyên</p>
                    <p><strong>Địa chỉ: Hoàng Gia Plaza, 259 Quang Trung, Tân Thịnh, TP Thái Nguyên, Tỉnh Thái Nguyên</strong></p>
                    <p>
                        <strong>
                            Hotline:
                            <a href="" style="color: blue;">0886103494</a>
                        </strong>
                    </p>
                    <p>
                        Mua phiếu quà tặng, mua vé số lượng lớn, đặt phòng chiếu tổ chức hội nghị, trưng bày quảng cáo:
                        <em>
                            Liên hệ với hotline
                            <a href="" style="color: blue;">0886103494</a>

                        </em>
                        để được hưởng ưu đãi tốt nhất bạn nhé!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

