@model Cinemas.ModelViews.ChangePasswordUserViewModel



<form asp-controller="Accounts" asp-action="ChangePasswordUser" method="post" class="modal-body">
    <div class="modal-body_contain">
        <label asp-for="OldPass" class="modal-label">
            <i class="fa-solid fa-lock"></i>
            Mật khẩu hiện tại
        </label>
        <input asp-for="OldPass" type="password" class="modal-input" placeholder="Nhập mật khẩu cũ">
        <i class="far fa-eye" id="togglePassword"></i>
        <span asp-validation-for="OldPass" class="password_style"></span>
    </div>

    <div class="modal-body_contain">
        <label asp-for="NewPass" class="modal-label">
            <i class="fa-solid fa-lock"></i>
            Mật khẩu mới
        </label>
        <input asp-for="NewPass" type="password" class="modal-input" placeholder="Nhập mật khẩu mới">
        <i class="far fa-eye" id="togglePassword2"></i>
        <span asp-validation-for="NewPass" class="password_style"></span>
    </div>

    <div class="modal-body_contain">
        <label asp-for="ReNewPass" class="modal-label">
            <i class="fa-solid fa-lock"></i>
            Xác nhận mật khẩu mới
        </label>
        <input asp-for="ReNewPass" type="password" class="modal-input" placeholder="Nhập lại mật khẩu mới">
        <i class="far fa-eye" id="togglePassword3"></i>
        <span asp-validation-for="ReNewPass" class="password_style"></span>

    </div>

    <button class="btn modal-btn" type="submit" >
        Đổi mật khẩu
    </button>
</form>
