@model Cinemas.ModelViews.LoginViewModel
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor;

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/assetsLayout/styles/styleLogSign.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assetsLayout/styles/Trangchu.css" asp-append-version="true" />
}

<div class="container">
    @if (Accessor.HttpContext.Session.GetString("Time") != null)
    {
        <h1 style="margin-top: 200px;">Thời gian đăng nhập: @Accessor.HttpContext.Session.GetString("Time")</h1>
    }
    <div class="main_logsign">
        <form class="form1" asp-controller="Accounts" asp-action="Login" method="post">
            <div class="form-header">
                <h3 class="heading f_register">Đăng nhập</h3>
                <a href="/dang-ky.html"><h3 class="heading f_log-in clblhv" style="color: #000">Đăng ký</h3></a>
            </div>
            <div class="spacer"></div>

            <div class="row gx-5 register">
                <div class="form-group">
                    <label asp-for="Email" class="form-label"><span class="register-start">*</span>Nhập email</label>
                    <input asp-for="Email" type="email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="form-label">
                        <span class="register-start">*</span>Mật khẩu
                    </label>
                    <input asp-for="Password" type="password" placeholder="Nhập mật khẩu" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group"><p>@ViewBag.Error</p></div>
            </div>
            <button type="submit" class="form-submit">Đăng nhập</button>
        </form>
    </div>
</div>
